/* PPT 图表元素样式 */

.ppt-chart-element {
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.ppt-chart-element.mini {
  padding: 2px;
}

.ppt-chart-element canvas {
  max-width: 100%;
  max-height: 100%;
}
